<!DOCTYPE html>
<html>
<head>
  <title>MyFirstApp</title>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track' => true %>
     <%= javascript_include_tag 'jquery.scrollex.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery.scrolly.min.js', 'data-turbolinks-track' => true %>
       <%= javascript_include_tag 'skel.min.js', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'util.js', 'data-turbolinks-track' => true %>
         <%= javascript_include_tag 'main.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="#banner" class="more scrolly">School Ground</a></h1>
            <nav>
                <ul>
                    <li><a href="#welcome" class="more scrolly">Welcome</a></li>
                    <li><a href="#about" class="more scrolly">About</a></li>
                    <li><a href="#features" class="more scrolly">Features</a></li>
                    <li><a href="#team" class="more scrolly">Team</a></li>
                    <li><a href="#cta" class="more scrolly">Get</a></li>
                    <li><a href="#footer" class="more scrolly">Contact</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>School Ground</h2>
                <p>Collaborative Study Groups<br />
							One-on-One Tutors Via Virtual Classrooms<br />
							Anytime. Anywhere.<br />
                            Prepare to Excel</p>

                <ul class="actions">
                    <li><a href="pages/registerpage.html" class="button special">Get Started</a></li>
                </ul>
              <a href="pages/loginpage.html" style="color: gray">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="pages/becometutor.html" style="color: gray">Become a Tutor</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="pages/dashboard.html" style="color: gray">Enter School Ground</a>
            </div>
            <a href="#welcome" class="more scrolly">Learn More</a>
        </section>

        <!-- welcome -->
        <section id="welcome" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>Welcome to School Ground</h2>
                    <p>School Ground pioneers the utilization of technologies to finally change student collaboration for the better.
                        <br />
                        <br /> We specialize in converting old world concepts like study groups and classrooms to the virtual world, breaking down the barriers of space and time to promote inclusivenss among students.
                    </p>
                    <p>
                        See how it works below.
                    </p>
                </header>
            </div>
        </section>

        <!-- about -->
        <section id="about" class="wrapper alt style5">
            <section class="spotlight">
                <div class="image"><img src="dist/img/studygroups.PNG" alt="" /></div>
                <div class="content">
                    <h2>Create Virtual Study Groups</h2>
                    <p>The key to learning is to work with peers and form study groups. If you are struggling to find a compatible study partner, School Ground is perfect for you.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="dist/img/studygroup.jpg" alt="" /></div>
                <div class="content">
                    <h2>Easier Learning Experience</h2>
                    <p>With School Ground, you will be able to study more effectively with collaborations with fellow students. Additionally, you can post questions in your study group forum at any time, and even request help from knowledgeable tutors who have already taken your course. </p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="dist/img/collaborate.PNG" alt="" /></div>
                <div class="content">
                    <h2>Connect With New Classmates</h2>
                    <p>Collaboration is becoming more popular as people realize how effective studying with others is. Students in any grade will be able to reach out to one other for study help, and you will get a chance to meet new classmates you did know before.</p>
                </div>
            </section>
        </section>

        <!-- features -->
        <section id="features" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Features</h2>
                    <p>By creating a study group with School Ground, you gain access to many powerful, accessable, and user-friendly functionality.</p>
                </header>
                <ul class="features">
                    <li class="icon fa-paper-plane-o">
                        <h3>Share Files</h3>
                        <p>You can upload, share, and access anything within a study group, including study notes, images, videos, documents, and other files.</p>
                    </li>
                    <li class="icon fa-question">
                        <h3>Ask and Answer Questions</h3>
                        <p>Post any questions you have on a question forum, whether you want to learn seomthing new or you need help on a homework problem.</p>
                    </li>
                    <li class="icon fa-code">
                        <h3>Virtual Classroom</h3>
                        <p>Using breathtaking API's, School Ground will allow you to enter a virtual classroom, where you can write on a shared whiteboard, video call others, and discuss problems.</p>
                    </li>
                    <li class="icon fa-laptop">
                        <h3>Tutors</h3>
                        <p>If you need help, you can easily reach out to peer tutors. Otherwise, you can volunteer to tutor others to gain glory points and prizes for our tutor of the month award!</p>
                    </li>
                    <li class="icon fa-calendar-o">
                        <h3>Schedule Study Sessions</h3>
                        <p>You can schedule public or private in-person study sessions. This is a great way to create an open study group with everyone in your class right before an exam!</p>
                    </li>
                    <li class="icon fa-comments-o">
                        <h3>Chat</h3>
                        <p>Enter live chat groups with your study partners and friends, or schedule a live chat with a tutor if you have a quick question.</p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- team -->
        <section id="team" class="wrapper alt style5">
            <section class="spotlight">
                <div class="image"><img src="dist/img/team.png" alt="" style="margin: 40px"/></div>
                 <div class="content">
                    <h2>Meet the Team</h2>
                     <p>Tom Cherukuri<br /><br />Kevin Sun</p>
                </div>
            </section>
        </section>

        <!-- CTA -->
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header>
                    <h2>Start Using School Ground</h2>
                    <p>Revolutionize your study experience by creating online study groups. Start collaborating with your friends, peers, and tutors! </p>
                </header>
                <ul class="actions vertical">
                    <li><a href="pages/dashboard.html" class="button fit special">Get App</a></li>
                    <li><a href="#" class="button fit">Learn More</a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <header>
                <h2>Contact or Follow Us</h2>
            </header>
            <ul class="icons">
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2016 School Ground</li>
                <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>

</body>
</html>